{% extends 'base.html.twig' %}

{% block title 'toutes les filieres' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/users/admin/style.css') }}">
{% endblock %}

{% block body %}
<body>
    <style>
        .form-box form{
            margin: 20px;
            
        }
        .form-box form input{
            width:400px;
            height: 40px;
            margin-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #777;
            border-radius: 14px;
            outline: none;
        }
        .btn{
            border-radius: 20px;
            color: #fff;
            margin-top: 18px;
            padding: 10px;
            background-color: #76923C;
            font-size: 12px;
            border: none;
        }
        #filiere_createdAt_date_month,
        #filiere_createdAt_date_day,
        #filiere_createdAt_date_year,
        
        #filiere_updatedAt_date,
        #filiere_updatedAt_time{
            width:100px;
            height:30px;
            margin: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #777;
            border-radius: 14px;
            outline: none;
        }
        #filiere_createdAt_time{
            width: 160px;
            height: 40px;
            margin-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #777;
            border-radius: 14px;
            outline: none;
        }
        #filiere_createdAt_time_hour,
        #filiere_createdAt_time_minute{
            width: 55px;
            height: 30px;
            margin-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #777;
            border-radius: 14px;
            outline: none;
        }
        #filiere_updatedAt{
            width: 250px;
            height: 81px;
            margin-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
            
            border: 1px solid #777;
            border-radius: 14px;
            outline: none;
            
        }
        #filiere_updatedAt_date{
            width: 193px;
            height: 34px;
            margin: 5px 0px 0px 0px;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #777;
            border-radius: 14px;
            outline: none;
            padding-top: 5px;
        }
        #filiere_updatedAt_time{
            width: 130px;
            height: 30px;
            margin: 5px 0 0 0;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            border: 1px solid #777;
            border-radius: 14px;
            outline: none;
        }
    </style>
    <div class="container">
        <!-- Change names and add icons -->
        <!-- Side navigation -->
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="logo"><img src="{{ asset('images/logo/stage_eady.png') }}" alt="" style="width:50px; height:auto; margin-top:11px"></span>
                        <span class="title">Gestionnaires des stages</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/filieres">
                        <span class="logo"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Gerer filieres</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/classes">
                        <span class="logo"><ion-icon name="people-outline"></ion-icon></span>
                        <span class="title">Gerer classes</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="logo"><ion-icon name="school-outline"></ion-icon></span>
                        <span class="title">Section 3</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="logo"><ion-icon name="mail-outline"></ion-icon></span>
                        <span class="title">Section 4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="logo"><ion-icon name="calendar-outline"></ion-icon></span>
                        <span class="title">Section 5</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="logo"><ion-icon name="desktop-outline"></ion-icon></span>
                        <span class="title">Section 6</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <!-- Search bar -->
                <div class="search">
                    <label for="">
                        <input type="text" placeholder="Looking for ?">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
                <!-- profile -->
                <div class="user">
                    <img src="{{ asset('images/user/1.png') }}" alt="">
                </div>
            </div>
            
            
            <div class="form-box" style="width:441px;background-color:#fff;box-shadow: 0 0 20px 0 #999; top:50%; left:50%; transform: translate(-50%,-50%); position: absolute;">
                <h1 style="margin-left: 15px">Ajouter Filiere</h1>
                {{ include('filieres/admin/_form.html.twig') }}
            </div>

        </div>
    </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    let toggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    let main = document.querySelector('.main');

    toggle.onclick = function(){
        navigation.classList.toggle('active');
        main.classList.toggle('active');
    }


    let list = document.querySelectorAll('.navigation li');

    function activeLink() {
        list.forEach((item) =>
            item.classList.remove('hovered'));
        this.classList.add('hovered');
    }
    list.forEach((item) => item.addEventListener('mouseover', activeLink));
</script>
</body>
{% endblock %}