{% extends 'base.html.twig' %}

{% block title 'tout les classes' %}

{% block body %}
    <h1>{{classes|length}} classes<h1>
    {% for classe in classes %}
        <article>
            <h2><a href="{{ path('admin_classes_show', {id:classe.id}) }}">{{classe.getNiveau()}}</a></h2>
        </article>
    {% endfor %}
{% endblock %}
